// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'highlight.js/styles/color-brewer.css'
@import 'bespoke-notes/style.css'

* {
  box-sizing: border-box;
}

.content {
  max-width: 900px;
}

pre {
  overflow: scroll;
  font-size: initial;

  &.error {
    max-height: 400px;
    line-height: 1;
  }
}

code.hljs {
  border-radius: 4px;
}

.bespoke-backdrop.elm {
  background-image: url('/images/elm-lang.png');
}

img {
  max-height: 400px;
  max-width: 800px;
}

.with-bg {
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;
}

cite {
  display: block;
}

body.notes .bespoke-slide {
  flex-direction: row;
}

.demo {
  height: 100px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
}
