// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'highlight.js/styles/color-brewer.css'

pre {
  overflow: initial;
  font-size: medium;
}

code.hljs {
  border-radius: 4px;
}

.bespoke-backdrop.elm {
  background-image: url('/images/elm-lang.png');
}
